@()

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/stylesheet.css")">
    <title> Chile </title>
</head>

<body class="body chile">
<div class="nav">
    <ba><a href="/">Home</a></ba>
    <ba><a href="/interests">Interests & Hobbies</a></ba>
    <ba><a href="/resume">Resume</a></ba>
    <ba><a class="active" href="/chile">Time in Chile</a></ba>
</div>

<div class="box">
    <h1> Time in Chile </h1>
    <p> After graduating high school, I lived in Santiago, Chile (and neighboring areas to the west) for 2 years while
        serving a mission for The Church of Jesus Christ of Latter-Day Saints.  I loved my time there, so this section
        is dedicated to provide some info about Chile.  If you're interested in the church itself, you can learn more
        <a href="https://www.lds.org" style="color: orange; text-decoration: none;">here</a>.
    </p>
    <h4> The City </h4>
    <p> Santiago, the capital of Chile, is a massive and extremely well-developed city.  I was blown away when I first
        saw it; being an ignorant 18-year-old, I thought Chile would be like a third-world country.
    </p>
    <img src="@routes.Assets.versioned("images/santiago.JPG")" alt="" style="width: 325px; height: 280px;">
    <p> The city provides various work opportunities for Chileans as well as immigrants from neighboring countries.  One
        of the largest buildings in South America is a business hub, and is located right in downtown Santiago.
    </p>
    <img src="@routes.Assets.versioned("images/santiago-skyscraper.JPG")" alt="" style="width: 325px; height: 280px;">
    <p> There are also several buildings featuring architecture from the old world, many of which are popular tourist
        attractions.  Santa Lucia (first image below) was an old war bunker.
    </p>
    <img src="@routes.Assets.versioned("images/santa-lucia.JPG")" alt="" style="width: 325px; height: 280px;">
    <img src="@routes.Assets.versioned("images/santiago-architecture.JPG")" alt="" style="width: 325px; height: 280px;">
    <h4> Neighboring Areas </h4>
    <p> I also spent some time in a few cities to the west of Santiago.  While the capital is industrious, these smaller
        towns offer amazing views of the country.
    </p>
    <img src="@routes.Assets.versioned("images/campo.JPG")" alt="" style="width: 325px; height: 280px;">
    <p> At the coast there are also cities such as San Antonio, Cartagena, and El Quisco.  San Antonio is one of the
        biggest ports in South America.
    </p>
    <img src="@routes.Assets.versioned("images/san-antonio.JPG")" alt="" style="width: 325px; height: 280px;">
    <p> Cartagena and El Quisco are extremely popular tourist attractions, especially in the summer.  In fact, the
        largest swimming pool in the world can be found at a hotel in El Quisco.
    </p>
    <img src="@routes.Assets.versioned("images/cartagena.JPG")" alt="" style="width: 325px; height: 280px;">
    <img src="@routes.Assets.versioned("images/quisco-pool.jpg")" alt="" style="width: 325px; height: 280px;">
    <h4> The People </h4>
    <p> Chileans are very friendly and interesting people.  I can honestly say that I met many people who I now consider
        family.  They love having fun, spending time with friends and family, cooking, eating, pets, and the list goes
        on.  For example, this guy showed his cool collections of all things action movies, including a replica of
        Aragorn's sword from "The Lord of the Rings".
    </p>
    <img src="@routes.Assets.versioned("images/sword.JPG")" alt="" style="width: 325px; height: 280px;">
    <p> Here's a picture of another person's fun cat. </p>
    <img src="@routes.Assets.versioned("images/cat.JPG")" alt="" style="width: 325px; height: 280px;">
    <h4> The Food </h4>
    <p> France is typically known for producing tasty bread, but, believe it or not, Chile is a strong competitor.  In
        fact, Chile has the second-highest bread consumption per capita in the world, I can personally witness that it
        is delicious.  Aside from that, Chileans enjoy various dishes, including chicken, rice, beans, soups, salads,
        empanadas, different varieties of beef, and their own version of the hot dog: completos.
    </p>
    <img src="@routes.Assets.versioned("images/completos.JPG")" alt="" style="width: 325px; height: 280px;">
    <img src="@routes.Assets.versioned("images/asado.JPG")" alt="" style="width: 325px; height: 280px;">
    <p> Also, one of the more popular drinks is yerba mate, a drink also common in Argentina and Uruguay (it's even
        better when drinking from an orange). </p>
    <img src="@routes.Assets.versioned("images/mate.JPG")" alt="" style="width: 375px; height: 280px;">
    <h4> Conclusion </h4>
    <p> Chile is an amazing place, and I hope to go back and visit at some point.  If you're looking for a new vacation
        spot, maybe now Chile will come to mind :)
    </p>
    <img src="@routes.Assets.versioned("images/santiago-temple.jpg")" alt="" style="width: 325px; height: 450px;">
</div>
</body>
</html>


