@()

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/stylesheet.css")">
    <title>Ethan</title>
</head>

<body>
    <div class="nav">
        <ba><a class="active" href="/">Home</a></ba>
        <ba><a href="/interests">Interests & Hobbies</a></ba>
        <ba><a href="/resume">Resume</a></ba>
        <ba><a href="/chile">Time in Chile</a></ba>
    </div>

    <div class="box">
        <img src="@routes.Assets.versioned("images/ethan.jpeg")" alt="" class="box-img">
        <h1>Ethan Pedersen</h1>
        <h5>Developer, Data Scientist, PhD Student</h5>
        <p>Hi! I'm Ethan. This site contains some basic information about myself. Feel free to check out my resume, interests, etc. I also lived in Santiago, Chile for 2 years and have a separate section dedicated to that. Hopefully you find it interesting!</p>
        <p>PS: This website was made using the Scala Play framework. Check it out <a href="https://www.playframework.com" style="color: orange; text-decoration: none;">here!</a></p>
        <ul>
            <li><a href="https://www.facebook.com/profile.php?id=100012587807077"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/ethanp55"><i class="fa fa-github-square" aria-hidden="true"></i></a></li>
        </ul>
    </div>
</body>
</html>


