@()

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/stylesheet.css")">
    <title>Interests</title>
</head>

<body>
<div class="nav">
    <ba><a href="/">Home</a></ba>
    <ba><a class="active" href="/interests">Interests & Hobbies</a></ba>
    <ba><a href="/resume">Resume</a></ba>
    <ba><a href="/chile">Time in Chile</a></ba>
</div>

<div class="box">
    <h1>Interests</h1>
    <p>Aside from analytics, data science, development, etc., here are some of my hobbies and interests.</p>
    <h4>Golf</h4>
    <p>I'm definitely not the best, but it's fun to get out and golf every once and a while.</p>
    <img src="@routes.Assets.versioned("images/golf.jpg")" alt="" style="width: 325px; height: 280px;">
    <h4>Bowling</h4>
    <p>Once I got my own bowling ball and learned how to throw a hook, I fell in love with bowling.  I can confidently say that I'm a member of the 200 club.</p>
    <img src="@routes.Assets.versioned("images/bowling.jpg")" alt="" style="width: 325px; height: 250px;">
    <h4>Movies</h4>
    <p>I love most types of movies, but hands-down my favorites of all time are "The Lord of the Rings" trilogy</p>
    <img src="@routes.Assets.versioned("images/lotr.jpg")" alt="" style="width: 300px; height: 300px;">
    <p>Did I also mention that I own and have read the books?</p>
    <img src="@routes.Assets.versioned("images/lotr-books.jpg")" alt="" style="width: 200px; height: 300px;">
    <h4>TV</h4>
    <p>Like movies, there are several TV series I enjoy.  From "The Mentalist" to "Breaking Bad" to "American Dad", there are many that pique my interest.  My favorite though would probably be "Seinfeld", a true classic.</p>
    <img src="@routes.Assets.versioned("images/kramer.jpg")" alt="" style="width: 225px; height: 300px;">
    <h4>Baseball</h4>
    <p>I've rarely played baseball, but I love watching MLB.  Having grown up in the bay area, the SF Giants and Oakland A's are my favorite teams.</p>
    <img src="@routes.Assets.versioned("images/mlb.jpg")" alt="" style="width: 325px; height: 210px;">
    <h4>Music</h4>
    <p>I enjoy rock and hip-hop.  My favorite is Hilltop Hoods, an Australian hip-hop group.</p>
    <img src="@routes.Assets.versioned("images/hilltop-hoods.jpg")" alt="" style="width: 300px; height: 325px;">
    <h4>Turtles</h4>
    <p>My favorite animals are turtles/tortoises.  The first picture is of my pet tortoise, Spike.  The other is of a sea turtle I saw resting on a beach.</p>
    <img src="@routes.Assets.versioned("images/spike.jpg")" alt="" style="width: 225px; height: 300px;">
    <br>
    <img src="@routes.Assets.versioned("images/sea-turtle.jpg")" alt="" style="width: 275px; height: 300px;">
</div>
</body>
</html>


