@()

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/stylesheet.css")">
    <title>Resume</title>
</head>

<body class="body resume">
<div class="nav">
    <ba><a href="/">Home</a></ba>
    <ba><a href="/interests">Interests & Hobbies</a></ba>
    <ba><a class="active" href="/resume">Resume</a></ba>
    <ba><a href="/chile">Time in Chile</a></ba>
</div>

<div class="box">
    <h1>Resume</h1>
    <p>Here is my resume, as of 04/10/2021.  Feel free to download this pdf (if you hover over it with your mouse there should be a download option).  Links to my Github and LinkedIn profiles can also be found on the home page.</p>
    <embed src="@routes.Assets.versioned("files/resume.pdf")" height="385px"/>
</div>
</body>
</html>


